table, th, td {
    border: 1px solid black;
}

th, td {
	padding: 5px;
}

table#profile-table tr:nth-child(even) {
	background-color: #eee;
}
table#profile-table tr:nth-child(odd) {
	background-color: #fff;
}

table#profile-table th {
	background-color: gray;
}

input {
	margin-bottom: 10px;
}