div.empty-space {
    height: 25%;
}

div#profile-container {
    border: 1px solid;
    height: 70%;
}

#profile-name {
    left: 10px;
    font-size: 24px;
}

#profile-header {
    padding: 25px;
}

#profile-details {
    padding: 25px;
}

.profile-detail {
    padding: 5px;
}

.profile-field {
    margin-left: 70px;
}

p {
    padding-top: 25px;
    text-align: justify;
}